[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "quickstart/quickstart/themes/ananke"]
	path = quickstart/quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "algo/themes/ananke"]
	path = algo/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "sss/themes/ananke"]
	path = sss/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "aaa/themes/ananke"]
	path = aaa/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "andre/themes/ananke"]
	path = andre/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "sim/themes/ananke"]
	path = sim/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "asd/themes/ananke"]
	path = asd/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "jorue/themes/ananke"]
	path = jorue/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "gg/themes/ananke"]
	path = gg/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "ss/themes/ananke"]
	path = ss/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "s/themes/ananke"]
	path = s/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "aaaa/themes/ananke"]
	path = aaaa/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "sopicha/themes/ananke"]
	path = sopicha/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "testew/themes/ananke"]
	path = testew/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "fff/themes/ananke"]
	path = fff/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "f/themes/ananke"]
	path = f/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "ff/themes/ananke"]
	path = ff/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "fffff/themes/ananke"]
	path = fffff/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "z/themes/ananke"]
	path = z/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "x/themes/ananke"]
	path = x/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "xx/themes/ananke"]
	path = xx/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "xxx/themes/ananke"]
	path = xxx/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "xxxx/themes/ananke"]
	path = xxxx/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "zzz/themes/ananke"]
	path = zzz/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "zzzz/themes/ananke"]
	path = zzzz/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "zzzzz/themes/ananke"]
	path = zzzzz/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "zzzzzzz/themes/ananke"]
	path = zzzzzzz/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "zzzzzzzz/themes/ananke"]
	path = zzzzzzzz/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "zzzzzzzzzzz/themes/ananke"]
	path = zzzzzzzzzzz/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "zzzzzzzzzzzzzzz/themes/ananke"]
	path = zzzzzzzzzzzzzzz/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "ww/themes/ananke"]
	path = ww/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "q/themes/ananke"]
	path = q/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "qqq/themes/ananke"]
	path = qqq/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "qqqq/themes/ananke"]
	path = qqqq/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "t/themes/ananke"]
	path = t/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "r/themes/ananke"]
	path = r/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "tt/themes/ananke"]
	path = tt/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "y/themes/ananke"]
	path = y/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "n/themes/ananke"]
	path = n/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "g/themes/ananke"]
	path = g/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "h/themes/ananke"]
	path = h/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "hhh/themes/ananke"]
	path = hhh/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "j/themes/ananke"]
	path = j/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "jj/themes/ananke"]
	path = jj/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "k/themes/ananke"]
	path = k/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "kk/themes/ananke"]
	path = kk/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "kkk/themes/ananke"]
	path = kkk/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "l/themes/ananke"]
	path = l/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "ll/themes/ananke"]
	path = ll/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "lll/themes/ananke"]
	path = lll/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "b/themes/ananke"]
	path = b/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "bb/themes/ananke"]
	path = bb/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "bbb/themes/ananke"]
	path = bbb/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "bbbb/themes/ananke"]
	path = bbbb/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "nnnn/themes/ananke"]
	path = nnnn/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "bbbbbbb/themes/ananke"]
	path = bbbbbbb/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "v/themes/ananke"]
	path = v/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "vv/themes/ananke"]
	path = vv/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "joao/themes/ananke"]
	path = joao/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "cajo/themes/ananke"]
	path = cajo/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "exemplo1/themes/ananke"]
	path = exemplo1/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "penisLeguas/themes/ananke"]
	path = penisLeguas/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "ChuqNoia/themes/ananke"]
	path = ChuqNoia/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "algo3/themes/ananke"]
	path = algo3/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "algo4/themes/ananke"]
	path = algo4/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "CHUQ/themes/ananke"]
	path = CHUQ/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "exemplo2/themes/ananke"]
	path = exemplo2/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "exemplo3/themes/ananke"]
	path = exemplo3/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "exemplo4/themes/ananke"]
	path = exemplo4/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "exemplo5/themes/ananke"]
	path = exemplo5/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "exempla/themes/ananke"]
	path = exempla/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "exemple/themes/ananke"]
	path = exemple/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "furtuito/themes/ananke"]
	path = furtuito/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "furto/themes/ananke"]
	path = furto/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "ggg/themes/ananke"]
	path = ggg/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
